.madness {
  margin: 2rem;
  color: #ff4b2b;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  background-color: #defffb;
}

p {
  font-family: "Playfair Display", serif;
}

h1 {
  color: #defffb;
}
